<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hi! I'm Aditya Ramesh. Welcome to my technical blog! Find my portfolio website here! - <a href="https://rameshaditya.com/" target="_blank">rameshaditya.com</a>
    <br><br>
    I enjoy writing efficient code, and want to build products that make an impact on a large scale!
    <br><br>
    I ❤️ programming, blogging, pencil sketching, ping pong & badminton. And puppies. 
    <br><br>
    I also write technical articles for <a href="https://www.topcoder.com" target="_blank">Topcoder</a>'s Algorithmic Blog.
    <br><br>
    I've set my own original algorithmic challenges on <a href="https://hackerrank.com/" target="_blank">HackerRank</a>, <a href="https://codechef.com/" target="_blank">Codechef</a> and <a href="https://hackerearth.com/" target="_blank">HackerEarth</a>.
    <br><br>
    I'm also a former software engineering intern at Cisco (Summer, 2018) and Deloitte (Summer, 2017).
    <br><br>
    Feel free to contact me if you have any opportunities for me, or if you think I'd be a good fit for your requirements!
</div>