<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>

    <hr>

    <b>All content on my blog (blogarithms.github.io), its subdomains, and my website (rameshaditya.com) are purely my opinions and do not reflect that of my employer (present, or former).</b>


    <br>
    <hr>
    <br>

    Hi! I'm <a href="https://rameshaditya.com/" style="color:blue;" target="_blank">Aditya Ramesh</a>! An undergraduate developer.
    
    <br><br>

    I enjoy developing efficient algorithms to solve challenging problems. I also write on technical topics, over here and on 
    <a href="https://topcoder.com/blog/author/aditya_ramesh" style="color:blue;" target="_blank">Topcoder's Algorithmic Blog</a>. 

    <br><br>

    <i>(Yeah, the same <a href="https://www.topcoder.com" style="color:blue;" target="_blank">Topcoder</a> that conducts Topcoder Open and used to host Google <a href="https://codingcompetitions.withgoogle.com/codejam" style="color:blue;" target="_blank">Code Jam</a> )</i>
    
    <br><br>

    I spent the summer of 2019 at <a href="http://www.deshaw.com/" style="color:blue;" target="_blank">D. E. Shaw</a> designing and developing efficient solutions and writing scripts for them, as a software engineering intern.

    <br><br>

    I spent the summer of 2018 at <a href="http://www.cisco.com/" style="color:blue;" target="_blank">Cisco</a> building creative solutions and writing code for them, as a software engineering intern.

    <br><br>

    I spent the summer of 2017 at <a href="https://www.deloitte.com/" style="color:blue;" target="_blank">Deloitte</a> analyzing, and visualizing data, and writing code for them, as a software development intern.
    
    <br><br>

    Outside of summers, I spend my time - <br>
    <ul>
        <li>focussing on coursework.</li>
        <li>exploring discrete math, linear algebra, algorithms and ML.</li>
        <li>competing in TONS of programming contests.</li>
        <li>picking up different languages - low level and high level.</li>
        <li>exploring OS and shell scripts.</li>
        <li>understanding how the internet works, and leveraging that to build my portfolio & blog.</li>
        <li>reading the blog posts of cool tech companies and how they solved hard problems.</li>
        <li>writing my own blog posts on how I solved hard problems.
    </ul>

    

    <br><br>

    I occasionally push projects on to my <a href="https://www.github.com/RameshAditya" style="color:blue;" target="_blank">GitHub (RameshAditya)</a> and my blog posts on here, so follow me over there to stay tuned to my work, if you like what I do.
    
    <br><br>

    On days when I'm not writing code, you can find me taking a relaxing stroll in a park while listening to a podcast, or sketching while head-bobbing to some anime or video game OST, or going at it in a game of badminton, ping pong or lately, foosball. 
    <br>
</div>